{% extends 'base.html' %}
{% block content %}
<div class="col-lg-4">
  <div class="card mb-4">
    <div class="card-body text-center">
      <img src="#" alt="avatar"
        class="rounded-circle img-fluid" style="width: 150px;">
        <!-- <div class="input-group mb-3">
          <input type="file" class="form-control" id="inputGroupFile02" name="image"> -->
      <h5 class="my-3">{{ user.username }}</h5>
      <p class="text-muted mb-1">{{ user.bio }}</p>
      <p class="text-muted mb-4">{{ user.address }}</p>
        <p class="text-muted mb-4">{{ user.email }}</p>
      <div class="d-flex justify-content-center mb-2">
          <button type="submit" class="btn me-2" style="background-color:darkorange; color:White">Follow</button>
          <button type="button" class="btn btn-secondary" href="{% url 'profile_edit' %}">프로필 수정</button></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}