@font-face {
    font-family: 'establishRoomNo703OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRoomNo703OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'establishRoomNo703OTF';
}

.col-lg-6 {
    width: 85%;
    margin-bottom: 50px;
}

.main {
    background-color: green;
    color: white;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://file.notion.so/f/s/bdbe0771-ce9d-456e-b4f5-5710620b8381/Untitled.jpeg?id=1c0d6939-9470-4897-a6c3-8226f9dfe574&table=block&spaceId=24c771f9-c044-4d63-851f-660172d58cb7&expirationTimestamp=1681538216174&signature=kwnZlfhp1Zzg3e9M15bn8E0xaNP1_72MHhfWc_ezUNo&downloadName=Untitled.jpeg);
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

#profile_card {
    width: 100%;
}

.btn_profile {
    background-color: tomato;

}

.btn_profile {
    background-color: tomato;

}

.btn_org {
    background-color: darkorange !important;
    color: white !important;
}

.btn_gr {
    background-color: gray !important;
    color: white !important;
}

.mycards {

    width: 100%;
    margin: 150px auto 80px auto;

}

.card .h-100 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    gap: 20px;
    /* 카드 간격 조절 */
}

.pagination .page-link {
    background-color: white;
    color: black;
}

.pagination .page-item.disabled .page-link {
    background-color: white;
    color: black;
}

.pagination .page-item.active .page-link {
    background-color: lightgray;
    border: solid darkgray 1px;
    color: black;
}

.col-lg-4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrap {
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 200px;
}

.wrap>img {
    width: 100%;
}

footer {
    background-color: lightgray;
    margin-bottom: 0px;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

header {

    z-index: 999;
}

.col.mb-5:hover {

    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.mypage_body {
    width: 100%;
    margin: 0 auto;
    /* font-family: sans-serif; */
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 1.5;
    padding: 20px;
}