{% extends 'base.html' %}

{% block content %}
    <div class="main">
        <section>
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-6">
                        <h1 class="mt-5">맛있는건 정말 참을 수 없어</h1>
                        <p>아놔 밑에 글이 엄정 길어야지 위에 제목도 길게 쓸 수 있나보다 아니면 말고 내가 설명을 좀 길게길게 써보지뭐 도대체 기준이뭐임
                            뭐인것임
                            정말 모르겠네</p>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <div class="mycards">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">                
                {% for post in post_list %}
                    {%if post.region == '서울'%}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- 추천스티커-->
                                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                        추천글
                                    </div>
                                <!-- 포스트 이미지를 가져오는 곳-->
                                <img class="card-img-top" src="{{post.image.url}}" alt="..."/>
                                <!-- 포스팅 카드가 보여지는 곳-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- 게시글 title-->
                                        <h5 class="fw-bolder">{{post.title}}</h5>
                                        <!-- 게시글 작성자-->
                                        <label for="" class="">{{post.user}}</label>
                                    </div>
                                </div>
                                <!-- 보러가기 버튼-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'post' id=post.id %}">보러가기</a></div>
                                </div>
                            </div>
                        </div>
                    {%endif%}
                {% endfor %}                
            </div>
        </div>
    </div>
{% endblock %}